

/* ============ loging-page-section Start ============ */
.loging-page-section{
    margin-top: 40px;
    .left-contain{
        background-color: var(--theam-colour);
        padding: 50PX;
        .text-container{
            .text-title{
                font-size: 46px;
                color: var(--white);
                font-weight: 200;
                span{
                    font-size: 46px;
                    font-weight: 600 !important;
                }
            }
        }
        .info-title{
            font-size: 24px;
            color: var(--white);
            padding-top: 40px;
            font-weight: 300;
        }
    }
    .right-contain{
        background-color: var(--light-blue);
        padding: 50PX;
        .from-section{
            a{
                color: var(--white);
            }
            .input-text{
                padding: 15px 10px;
                border: none;
                margin: 5px 0px;
            }
            .btn-sing-in{
                border:1px solid var(--theam-colour);
                padding: 10px 35px;
                background: var(--theam-colour);
                border-radius: 25px ;
                color: var(--white);
                &:hover{
                    background-color: transparent;
                    border: 1px solid white;
                }
            }
            .Registe-text{
                color: var(--white);
            }
            .captcha-section{
                margin: 10px 0;
            } 
        }
    }
}