@media (max-width:991px) {
    .table-user{
        width: 870px;
    }
    /* ==============   header section start  ============== */
    header {
        ul {
            padding: 0;

            li {
                .contact-admin {
                    font-size: 12px;
                    margin-right: 8px;
                }

                .user-dropdown {
                    font-size: 12px;

                    .user-icon {
                        width: 15px !important;
                        margin-right: 5px;
                    }
                }
            }
        }

        .form-select {
            font-size: 12px;
        }
    }

    /* ================  header section End  ============= */
    .nvabar-setion {
        .navbar-brand {
            width: 90px;
        }

        .nav-title {
            font-size: 17px;
        }
    }


    .loging-page-section {
        .left-contain {
            padding: 30px;

            .text-container {
                .text-title {
                    font-size: 26px;

                    span {
                        font-size: 26px;
                    }
                }

                .info-title {
                    font-size: 17px;
                    color: var(--white);
                    padding-top: 30px;
                }
            }
        }

        .right-contain {

            padding: 30PX;

            .from-section {

                .input-text {
                    padding: 10px 5px;
                }

                .btn-sing-in {
                    padding: 10px 25px;
                }

            }
        }
    }
    .all-blog-contain .baner-img{
        height: 170px;
    }
    .all-blog-contain .btn-box .Download-btn {
        width: 116px;
        padding: 5px 10px;
        font-size: 14px;
    }

    .Latest-updates-section {
        top: 99px;
    }
    .left-site-list-section{
        margin-top: 10px;
       .card-body {
           margin-bottom: 10px;
           padding: 5px 10px;
           .card-title{
               font-size: 1.1rem;
               margin-bottom: 0;
           }
           .card-link{
            font-size: 1.18rem;
           }
           .card-btn-link{
            font-size: 1.18rem;
           }
       }
    }
    
    /* ======== Document-details-page-section start =========*/

    .document-body{
        .document-card-body{
            padding: 12px 20px;
            background-color: #F2FBFF;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
            .main-title{
                font-size: 16px;
            }
            .sub-title{
                font-size: 14px;
                color: var(--siment);
                margin-bottom: 7px;
            }
            .Document-edit-setion{

                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 210px;
                margin-left: auto;
                .translate-btn{
                    border: 1px solid var(--theam-colour);
                    color: var(--white);
                    border-radius: 20px;
                    width: 114px;
                    background-color: var(--theam-colour);

                    a{
                        color: var(--white);
                    }
                    &:hover{
                        background-color: var(--light-blue);
                    }
                }
                .download-btn{
                    min-width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        color: var(--black);
                    }
                }
                .edit-btn {
                    border-left: 1px solid #000000;
                    min-width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        color: var(--black);
                    }
                }
                .trash-btn {
                    min-width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: 1px solid #000000;
                    i{
                        color: var(--black);
                    }
                }
            }
        }
    .from-details-section{
        // width: min(100% - 0px , 80%);
        // border: 1px solid red;
        .document-from-box{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 15px;
           .title-docu{
            font-size: 16px;
            font-weight: 500;
            width: min(100% - 0 , 70%);
           }
           .doc-link{
            margin: 10px 0;
            font-size: 16px;
           } 
           .all-btn-setion{
            .btn-box{
                padding: 7px 15px;
                margin: 5px 5px;
            }
           }
        }
    }

    }
    .doc-details-right-section .doc-details-box .back-btn-box {
        margin-right: 20px;
    }

    .doc-details-right-section .reviews-section .reviews-box .img-section .img-reviews-box {
        width: 50px;
        height: 50px;
    }

    .doc-details-right-section .reviews-section .reviews-box .img-section {
        width: 80px;
    }

    /* ======== Document-details-page-section End =========*/
    /* ========= Discussion-comments-page-section Start =========== */

     .Discussion-comments-box .dic-comment-box .reviews-box .img-section {
        width: 80px;
    }

     .Discussion-comments-box .dic-comment-box .reviews-box .img-section .img-reviews-box {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .Discussion-comments-box .Description-title{
        font-size: 1.1rem;
    }
    .Discussion-comments-box .dic-comment-box .reviews-box .reviews-chate-box .name-title{
        font-size: 1.2rem;
    }
    .Discussion-comments-box .dic-comment-box .reviews-box .reviews-chate-box .Description-text {
        font-size: 14px;
    }
    /* ========= Discussion-comments-page-section End =========== */
     .countries-communities-body .table-section .dic-table thead tr .country {
        width: 244px;
    }
    /* ================ News-page-section Start ===================== */

    .news-grid-section {
        .card {
            width: 100%;
            border: 1px solid var(--gray);
      
            .img-box{
                height: 180px ;
            }
            .card-body {
                padding: 10px 15px;
                .card-text {
                    padding: 7px 0px;
                    font-size: 1.3rem;
                    color: var(--black);
                    line-height: 28px;
                }

            }
        }
    }


/* ================ News-page-section End ===================== */
/* ======================= flag-page start ========================= */
.flag-body{
    .flag-card{
        background-color: var(--sky-blue);
        margin-bottom: 10px;
       .flag-head-box{
        display: flex;
        padding: 10px 10px;
        width: 100%;
        .number-list{
            width: min(100% - 0px , 5% );
        }
        .title-box{
            width: min(100% - 0 , 95%);
            .main-title-contain{
             max-width: 100%;
             width: min(100% - 0px , 100% );
             display: flex;
             .main-title{
                font-size: 16px;
                font-weight: 500;
             }
             .icon-comment{
                margin-left: auto;
                .comment-number{
                    font-size: 20px;
                    margin-left: 5px;
                }
             }
            } 
            .sub-title{
                color: var(--siment);
                .green-title{
                    color: var(--dark-green);
                }
            }
        }
       } 
       .flag-footer-box{
        .reviews-box {
            display: flex;
            margin: 2px 0;
            padding: 10px 5px;
            border: 1px solid #707070;
            border-radius: 13px;
            .img-section {
                width: 80px;
                display: flex;
                justify-content: center;

                .img-reviews-box {

                    border-radius: 50%;
                    width: 50px;
                    height: 50px;

                    img {
                        object-fit: cover;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .reviews-chate-box {
                width: 100%;
                margin-left: 20px;
                .title-Setion-dic {
                    display: flex;
                    flex-wrap: wrap;
                    .name-title {
                        font-size: 1.2rem;
                     }

                    .date-post {
                        color: var(--siment);
                        font-size: 1rem;
                        margin-top: 7px;
                        margin-left: 20px;
                    }
                }

                .Description-text {
                    padding: 10px 0;
                    font-size: 14px;
                    font-weight: 400;
                }
                .comment-edit-action{
                    a{
                        font-size: 1.1rem;
                    }
                }
           
            }
        }
       }
    }
}
/* ======================= flag-page End ========================= */
/* ================ Discussion forum  page Start =================== */

.Discussion-right-Section {
    .Discussion-table-section {
        overflow-x: auto; 
        max-width: 100%;
        margin-top: 5px;

        .dic-table {
            width: 860px;
            border-spacing: 0px 5px !important;
            border-collapse: separate !important;
        }
    }
}


/* ================ Discussion forum page End =================== */

}

@media (min-width:991px) {
    .secondary-menu-section {
        .dropdown-section {
            &:hover {
                .dropdown-menu {
                    position: absolute !important;
                    display: block !important;
                    margin-top: 0px;
                }
            }
        }
    }

        .Doc-contain-section {
            .dropdown {
                &:hover {
                    .dropdown-menu {
                        position: absolute !important;
                        display: block !important;
                        margin-top: 1px;
                    }
                }
            }
        }
    


        .member-contain-section {
            .dropdown {
                &:hover {
                    .dropdown-menu {
                        position: absolute !important;
                        display: block !important;
                        margin-top: 1px;
                    }
                }
            }
        }
    
}

@media (max-width:767px) {

    .table-user{
        width: 870px;
    }
    .flag-body .flag-card .flag-footer-box .reviews-box .reviews-chate-box .title-Setion-dic{
        justify-content: space-between;
    }
    .flag-body .flag-card .flag-footer-box .reviews-box .reviews-chate-box .title-Setion-dic .date-post {
        margin-top: 10px;
        margin-left: 0px;
    }
    .nvabar-setion .nav-title {
        font-size: 15px;
    }

    .secondary-menu-section .dropdown-section .dropdown-title {
        width: 128%;
        padding: 5px 5px;
    }

    .secondary-menu-section .dropdown-section .dropdown-menu {
        width: 128%;
    }

    /* ========= Discussion-comments-page-section Start =========== */
        .Discussion-comments-box {
            .dic-comment-head-setion {

            }

            .dic-comment-box {
                .reviews-box {
                    .img-section {
                        .img-reviews-box {
                            border-radius: 50%;
                        }
                    }

                    .reviews-chate-box {
                        .title-Setion-dic {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            .date-post {
                                margin-left: 0px;
                                margin-top: 10px;
                            }
                        }

                    }
                }
            }
        }
    

    /* ========= Discussion-comments-page-section End =========== */
    .Quiz-answer-right-section .Quiz-que-box form {
        padding: 0 0px;
    }

     .member-contain-section .member-boday {
        justify-content: center;
    }

     .doc-details-right-section .reviews-section .reviews-box .reviews-chate-box .title-Setion-doc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .date-post {
            margin-left: 0px;
            margin-top: 10px;
        }
    }

     .Doc-card-section .edit-setion div {
        border-left: 1px solid black;
        padding: 5px;

    }

     .Doc-card-section .edit-setion {

        margin-right: 10px;
    }
}

@media (max-width:280px) {
    .nvabar-setion {
        .navbar-brand {
            width: 50px;
        }

        .nav-title {
            font-size: 14px;
        }
    }


    .loging-page-section {
        .left-contain {
            padding: 20px;

            .text-container {
                .text-title {
                    font-size: 36px;

                    span {
                        font-size: 36px;
                    }
                }
            }
        }

        .right-contain {

            padding: 15PX;

            .from-section {

                .input-text {
                    padding: 7px 5px;
                }

                .btn-sing-in {
                    padding: 7px 10px;
                }

            }
        }
    }
}
@media (max-width:1280px) and (min-width:992px) {
        
.secondary-menu-section .menu-iteam li{
    padding: 0 3px;
}
}