@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 90.5%;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --theam-colour:#008DC9;
  --white:#fff;
  --black:#000;
  --light-blue:#009FE2;
  --dark-blue:#002273;
  --sky-blue:#F2FBFF;
  --dark-green:#3ABE21;
  --gray:#707070 ;
  --light-gray:#F3F3F3;
  --orange:#FF6600;
  --siment:#828282;
  --unnamed-color-ffb032: #FFB032;
  --unnamed-color-e6f0f1: #E6F0F1;
  --unnamed-color-ff0000: #FF0000;
  --unnamed-color-7a7a7a: #7A7A7A;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-545454: #545454;
}

/* ============ loging-page-section Start ============ */
.loging-page-section {
  margin-top: 40px;
}
.loging-page-section .left-contain {
  background-color: var(--theam-colour);
  padding: 50PX;
}
.loging-page-section .left-contain .text-container .text-title {
  font-size: 46px;
  color: var(--white);
  font-weight: 200;
}
.loging-page-section .left-contain .text-container .text-title span {
  font-size: 46px;
  font-weight: 600 !important;
}
.loging-page-section .left-contain .info-title {
  font-size: 24px;
  color: var(--white);
  padding-top: 40px;
  font-weight: 300;
}
.loging-page-section .right-contain {
  background-color: var(--light-blue);
  padding: 50PX;
}
.loging-page-section .right-contain .from-section a {
  color: var(--white);
}
.loging-page-section .right-contain .from-section .input-text {
  padding: 15px 10px;
  border: none;
  margin: 5px 0px;
}
.loging-page-section .right-contain .from-section .btn-sing-in {
  border: none;
  padding: 10px 35px;
  background: var(--theam-colour);
  border-radius: 25px;
  color: var(--white);
}
.loging-page-section .right-contain .from-section .btn-sing-in:hover {
  background-color: transparent;
  border: 1px solid white;
}
.loging-page-section .right-contain .from-section .Registe-text {
  color: var(--white);
}

/* ==============   header section start  ============== */
header {
  min-height: 40px;
  display: flex;
  align-items: center;
}
header ul {
  margin: 0;
}
header ul li .login-i {
  color: var(--black);
}
header ul li .login-i:hover {
  font-weight: 500;
}
header ul li .active {
  font-weight: 500;
}
header ul li .contact-admin {
  color: var(--black);
}
header ul li .contact-admin:hover {
  color: var(--dark-blue);
}
header ul li .user-dropdown .user-icon {
  width: 20px !important;
  display: block;
  float: left;
  margin-right: 7px;
}
header ul li .user-dropdown-menu {
  width: 100%;
  z-index: 9999;
}
header ul li .user-dropdown-menu li a:hover {
  color: var(--dark-blue);
}
header select {
  border: none !important;
  width: 70px;
  box-shadow: none;
  outline: none;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
header select:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ================  header section End  ============= */
/* ==============  navabar section start ================  */
.nvabar-setion {
  background-color: var(--theam-colour);
  padding: 0;
}
.nvabar-setion .navbar-brand {
  width: 150px;
  margin: 0;
}
.nvabar-setion .nav-title {
  color: var(--white);
  font-size: 22px;
}

/* ==============  navabar section End ================  */
/* ================== secondary-menu-section start ================ */
.secondary-menu-section {
  background-color: var(--dark-green);
  padding: 0;
}
.secondary-menu-section .dropdown-section .dropdown-title {
  position: relative;
  width: 96%;
  padding: 10px 5px;
  display: flex;
  background-color: var(--light-gray);
}
.secondary-menu-section .dropdown-section .dropdown-title::after {
  border: none;
}
.secondary-menu-section .dropdown-section .dropdown-title .icon-box iconify-icon {
  rotate: 180deg;
}
.secondary-menu-section .dropdown-section .dropdown-title:hover .up-down-arro {
  rotate: 0deg;
}
.secondary-menu-section .dropdown-section .dropdown-menu {
  border-top: none;
  border-radius: 0;
  margin-top: 0;
  width: 96%;
  background-color: var(--light-gray);
}
.secondary-menu-section .dropdown-section .dropdown-menu li:hover {
  background-color: var(--white);
}
.secondary-menu-section .dropdown-section .dropdown-menu li:hover a {
  color: var(--dark-blue);
}
.secondary-menu-section .dropdown-section .dropdown-menu li:hover a:focus {
  background-color: transparent;
}
.secondary-menu-section .dropdown-section .dropdown-menu:hover .up-down-arro {
  rotate: 0deg;
}
.secondary-menu-section .select-menu-box {
  border: 0.5px solid var(--gray);
  background-color: var(--light-gray);
}
.secondary-menu-section .menu-iteam {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.secondary-menu-section .menu-iteam li {
  padding: 0px 20px;
}
.secondary-menu-section .menu-iteam li a {
  display: flex !important;
  font-size: 16px;
  font-weight: 500;
}
.secondary-menu-section .menu-iteam li a iconify-icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--black);
}
.secondary-menu-section .menu-iteam li a:hover {
  color: var(--dark-blue);
  border-bottom: 2px solid var(--orange);
  transition: 0.3s ease-in-out;
}
.secondary-menu-section .menu-iteam li a .logo-img {
  display: block;
  float: left;
  margin-right: 10px;
}
.secondary-menu-section .menu-iteam li .active {
  color: var(--dark-blue);
  border-bottom: 2px solid var(--orange);
}

/* ================== secondary-menu-section End ================ */
.pre-next-setion {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.pre-next-setion .preview-tile {
  font-size: 18px;
  cursor: pointer;
}
.pre-next-setion .preview-tile:hover {
  color: var(--light-blue);
  text-decoration: underline;
}
.pre-next-setion .next-title {
  font-size: 18px;
  cursor: pointer;
}
.pre-next-setion .next-title:hover {
  color: var(--light-blue);
  text-decoration: underline;
}
.pre-next-setion .active {
  color: var(--light-blue);
  text-decoration: underline;
}

.button {
  border: 1px solid black;
  background-color: transparent;
  padding: 5px 10px;
}

/* =================   all pages same aside    latest updates section  start ============= */
.Latest-updates-setion {
  border: 0.5px solid var(--gray);
  position: sticky;
  top: 129px;
  margin: 10px 0px;
}
.Latest-updates-setion .latest-box {
  padding: 10px 20px;
  border-bottom: 1px solid var(--gray);
}
.Latest-updates-setion .latest-box .main-title {
  color: var(--theam-colour);
  margin-bottom: 30px;
  font-weight: 400;
}
.Latest-updates-setion .latest-box .info-title {
  line-height: 15px;
  color: var(--black);
  font-size: 1.2rem;
  cursor: pointer;
}
.Latest-updates-setion .latest-box .info-title:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}
.Latest-updates-setion .latest-box .date {
  color: var(--siment);
}

/* =================   all pages same aside    latest updates section  End ============= */
/* =================   all pages same blog-post-section section  start ============= */
.all-blog-contain {
  margin: 10px 0px;
}
.all-blog-contain .btn-box .Download-btn {
  width: 175px;
  border: none;
  border-radius: 30px;
  background-color: var(--theam-colour);
  font-size: 17px;
  padding: 5px 10px;
  color: white;
}
.all-blog-contain .btn-box .Download-btn:hover {
  background-color: var(--light-blue);
}
.all-blog-contain .date {
  color: var(--siment);
}
.all-blog-contain .main-title {
  color: var(--black);
  font-size: 1.3rem;
  line-height: 18px;
  cursor: pointer;
}
.all-blog-contain .info-text {
  font-size: 14.48px;
  padding: 10px 0px;
}

/* =================   all pages same blog-post-section section  End ============= */
/* ================ Document-page-section Start ===================== */
.Document-page-section .Doc-contain-section {
  margin: 10px 0px;
}
.Document-page-section .Doc-contain-section .search-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray);
  margin: 0px 0px 10px 0px;
}
.Document-page-section .Doc-contain-section .search-section .search__input {
  width: 98%;
  border: none;
  padding: 5px 10px;
}
.Document-page-section .Doc-contain-section .search-section .search__button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.Document-page-section .Doc-contain-section .search-section .search__button .search__icon {
  font-size: 20px;
  color: var(--black);
}
.Document-page-section .Doc-contain-section .dropdown {
  border: 1px solid var(--gray);
  margin: 5px 0px;
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-title {
  position: relative;
  padding: 7px 5px;
  display: flex;
  background-color: var(--light-gray);
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-title::after {
  border: none;
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-title .icon-box iconify-icon {
  rotate: 180deg;
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-title:hover iconify-icon {
  rotate: 0deg;
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-menu {
  border-top: none;
  border-radius: 0;
  margin-top: 0;
  width: 100%;
  background-color: var(--light-gray);
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-menu li:hover {
  background-color: var(--white);
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-menu li:hover a {
  color: var(--dark-blue);
}
.Document-page-section .Doc-contain-section .dropdown .dropdown-menu li:hover a:focus {
  background-color: transparent;
}
.Document-page-section .Doc-card-section {
  display: flex;
  background-color: var(--sky-blue);
  padding: 10px;
  margin-top: 10px;
}
.Document-page-section .Doc-card-section .number-cards {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}
.Document-page-section .Doc-card-section .Doc-card-title {
  color: var(--black);
  font-size: 1.3rem;
  line-height: 18px;
  cursor: pointer;
}
.Document-page-section .Doc-card-section .Doc-card-title:hover {
  color: var(--theam-colour);
}

/* ================ Document-page-section End ===================== */
/* ================ News-page-section Start ===================== */
.News-page-section .news-grid-section {
  margin-bottom: 10px;
}
.News-page-section .news-grid-section .card-box {
  margin-top: 1.5rem;
  border-radius: 0;
  border: 1px solid var(--gray);
}
.News-page-section .news-grid-section .card-box .card-body {
  padding: 10px 20px;
}
.News-page-section .news-grid-section .card-box .card-body .date {
  color: var(--siment);
}
.News-page-section .news-grid-section .card-box .card-body .card-text {
  padding: 20px 0px;
  font-size: 1.3rem;
  color: var(--black);
  line-height: 28px;
}
.News-page-section .news-grid-section .card-box .card-body .card-text:hover {
  color: var(--theam-colour);
}

/* ================ News-page-section End ===================== */
/* ============= Event-page-section start  =============== */
.Event-page-section .Event-body {
  margin-top: 10px;
}
.Event-page-section .Event-body .event-card-body {
  background-color: var(--light-gray);
  border-radius: 10px;
  margin-bottom: 10px;
}
.Event-page-section .Event-body .event-card-body .event-contain-body {
  padding: 10px 10px;
}
.Event-page-section .Event-body .event-card-body .event-contain-body a .main-title {
  padding: 20px 0px;
  font-size: 1.3rem;
  color: var(--black);
  line-height: 28px;
}
.Event-page-section .Event-body .event-card-body .event-contain-body a .main-title:hover {
  color: var(--theam-colour);
}
.Event-page-section .Event-body .event-card-body .event-contain-body .date {
  color: var(--siment);
  padding: 5px 0px;
}

/* ============= Event-page-section End  =============== */
/* ============= Document-details-page-section Start  =============== */
.Document-details-page-section .doc-details-right-section {
  margin-top: 10px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 50px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-title {
  margin-top: 22px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-title .main-title {
  color: var(--black);
  font-size: 1.3rem;
  line-height: 18px;
  cursor: pointer;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-title .main-title:hover {
  color: var(--theam-colour);
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-title .text-info-box {
  padding: 10px 0px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-btn-setion .all-btn-setion {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-details-btn-setion .all-btn-setion .btn-box {
  border: 1px solid var(--orange);
  padding: 7px 15px;
  border-radius: 20px;
  margin: 5px 5px;
  cursor: pointer;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .list-group-doc {
  padding: 10px 0;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .list-group-doc .list-inline-box {
  display: flex;
  background-color: var(--sky-blue);
  padding: 10px 5px;
  margin: 10px 0;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .list-group-doc .list-inline-box .number-list {
  margin-inline: 20px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-contain-box {
  margin: 25px 0;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .doc-contain-box .title-text {
  color: var(--dark-blue);
  font-size: 1.3rem;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .back-btn-box {
  margin-right: 40px;
}
.Document-details-page-section .doc-details-right-section .doc-details-box .back-btn-box .Back-doc {
  color: var(--light-blue);
  text-decoration: underline;
}
.Document-details-page-section .doc-details-right-section .reviews-section {
  margin: 50px 0;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box {
  display: flex;
  margin: 20px 0;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .img-section {
  width: 100px;
  display: flex;
  justify-content: center;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .img-section .img-reviews-box {
  border-radius: 50%;
  width: 66px;
  height: 66px;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .img-section .img-reviews-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 50%;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent {
  width: 500px;
  margin-left: 20px;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .reviews-chate-comment-box {
  width: min(100% - 0px, 89%);
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .reviews-chate-comment-box textarea {
  width: 100%;
  border: 1px solid var(--siment);
  padding: 10px;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .reviews-chate-comment-box textarea:focus {
  outline: none;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .post-btn {
  margin-top: 20px;
  cursor: pointer;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .post-btn p {
  background-color: var(--theam-colour);
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 10px 0px; */
  border-radius: 40px;
  color: var(--white);
  cursor: pointer;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-commnent .post-btn p:hover {
  background-color: var(--light-blue);
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-chate-box {
  width: 500px;
  margin-left: 20px;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-chate-box .name-title {
  font-size: 1.3rem;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-chate-box .name-title .date-post {
  color: var(--siment);
  font-size: 1rem;
  margin-left: 20px;
}
.Document-details-page-section .doc-details-right-section .reviews-section .reviews-box .reviews-chate-box .Description-text {
  padding: 10px 0;
}

/* ============= Document-details-page-section End  =============== */
/* ================== footer section start =============== */
footer {
  margin-top: auto;
  bottom: 0px !important;
  background-color: var(--theam-colour);
}
footer .connect-info {
  color: var(--light-gray);
}
footer .footer-icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px;
  margin: 0;
}
footer .footer-icon-box .icon {
  padding: 0px 10px;
  border-right: 1px solid var(--light-gray);
}
footer .footer-icon-box .icon i {
  font-size: 20px;
  color: var(--light-gray);
}
footer .footer-icon-box .icon-info {
  border: none;
}
footer .footer-icon-box .icon-info iconify-icon {
  rotate: 45deg;
}

/* ================== footer section End =============== *//*# sourceMappingURL=style.css.map */