@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    font-size: 90.5%;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}
li {
    list-style: none;
}
p{
    margin-bottom: 0;
}
img{
    width: 100%;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none !important;
    box-shadow: none !important;
}
textarea:focus{
    outline: none;
}
:root{
    --theam-colour:#008DC9;
    --white:#fff;
    --black:#000;
    --light-blue:#009FE2;
    --dark-blue:#002273;
    --sky-blue:#F2FBFF;
    --dark-green:#3ABE21;
    --gray:#707070 ;
    --light-gray:#F3F3F3;
    --orange :#FF6600;
    --siment:#828282;
    --secondery-bule-dark:#C8EFFF;
    --t-color-7a7a7a: #7A7A7A;
    
--unnamed-color-ffb032: #FFB032;
--unnamed-color-e6f0f1: #E6F0F1;
--unnamed-color-ff0000: #FF0000;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-545454: #545454;
}




@import "Login";
@import "main";